# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# macOS
.DS_Store

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Dataset
# ==========================
datasets/

# ==========================
# Trained Models
# ==========================
weights/
checkpoints/
*.pt
*.pth
*.onnx
*.engine
*.tflite
*.ckpt

# ==========================
# YOLO Outputs
# ==========================
runs/
outputs/

# ==========================
# Cache
# ==========================
.cache/
*.cache

# ==========================
# Temporary Files
# ==========================
temp/
tmp/
*.tmp

# ==========================
# Build Files
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Testing
# ==========================
.coverage
htmlcov/
.pytest_cache/

# ==========================
# Secrets
# ==========================
.env
.env.*
*.pem
*.key
*.crt

# ==========================
# OS Files
# ==========================
Thumbs.db